- form_for @comment, :url => post_comments_path(@post.permalink) do |form|

  = render :partial => "helpers/messages"

  %table{ :cellspacing => "10px", :cellpadding => "0" }
    - if !admin?
      %tr
        %td
          = form.label :name
        %td
          = form.text_field :name, :class => 'field must_fill'
      %tr
        %td
          = form.label :email
        %td
          = form.text_field :email, :class => 'field'
          %span.meta
            will not be published / gravatar enabled
      %tr
        %td
          = form.label :website
        %td
          = form.text_field :website, :class => 'field'
      %tr
        %td
          %label{ :for => "snow" }
            is snow hot or cold?
        %td
          = form.text_field :snow, :class => 'field must_fill'
          %span.meta
            spam protection
    %tr
      %td
        = form.label :comment
      %td
        = form.text_area :comment, { :rows => 10, :cols => 45, :class => "field must_fill"}
    %tr
      %td
        &nbsp;
      %td
        = form.submit "Comment", :class => "button"