- form_for @comment, :url => post_comments_path(@post.permalink) do |form|

  = show_error flash[:error],      "Your comment submission failed due to some errors"
  = show_error flash[:spam_error], "Your comment was marked as spam, we'll review it"

  = show_notice flash[:notice],        "Your comment was successfully submitted"
  = show_notice flash[:notice_delete], "The comment was successfully deleted"
  = show_notice flash[:spam_notice],   "The comment was marked as spam"
  = show_notice flash[:ham_notice],    "The comment was marked as ham"
  = show_notice flash[:spam_error],    "The comment failed mark as spam"
  = show_notice flash[:ham_error],     "The comment failed to mark as ham"

  %table{ :cellspacing => "10px", :cellpadding => "0" }
    - if !admin?
      %tr
        %td
          = form.label :name
        %td
          = errored_textfield form.text_field(:name, :class => 'field must_fill'), flash[:name_error]
      %tr
        %td
          = form.label :email
        %td
          = errored_textfield form.text_field(:email, :class => 'field'), flash[:email_error]
          %span.meta
            will not be published / gravatar enabled
      %tr
        %td
          = form.label :website
        %td
          = errored_textfield form.text_field(:website, :class => 'field'), flash[:website_error]
      %tr
        %td
          %label{ :for => "snow" }
            is snow hot or cold?
        %td
          = errored_textfield form.text_field(:snow, :class => 'field must_fill'), flash[:snow_error]
    %tr
      %td
        = form.label :comment
      %td
        = errored_textfield form.text_area(:comment, { :rows => 10, :cols => 45, :class => "field must_fill"}), flash[:comment_error]
    %tr
      %td
        &nbsp;
      %td
        = form.submit "Comment", :class => "button"