- if @posts.size > 0
  = render :partial => "helpers/paginate_top", :locals => { :posts => @posts }

= render :partial => "helpers/title", :locals => { :title => "search", :link => root_url }

%p#criteria
  Search query:
  %span
    = @query.blank? ? "nothing" : @query

- if @posts.size > 0
  - @posts.each do |post|
    = render :partial => post.note? ? "scratches/scratch" : "posts/post", :locals => { :scratch => post, :container => false, :hightlight_query => @query }
- else
  #error
    %p
      = @query.blank? ? "No search query was given" : "The search query wasn't found in the blog posts"

- if @posts.size > 0
  = render :partial => "helpers/paginate_bottom", :locals => { :posts => @posts }