= paginate_top_tag @posts if @posts.size > 0

= title_tag "search", root_url

%p#criteria
  Search query:
  %span
    = @query.blank? ? "nothing" : @query

- if @posts.size > 0
  - @posts.each do |post|
    - if post.note?
      = render :partial => "scratches/scratch", :locals => { :scratch => post, :container => false, :hightlight_query => @query }
    - else
      = render :partial => "posts/post", :locals => { :post => post, :container => false, :hightlight_query => @query }
- else
  %div#error
    %p
      = @query.blank? ? "No search query was given" : "The search query wasn't found in the blog posts"

= paginate_bottom_tag @posts if @posts.size > 0