%tr
  %td
    %label{ :for => "post_note", :style => "padding-top: 0;" }
      note
  %td
    = form.check_box :note, { :class => 'field' }
%tr#post_title_row
  %td
    %label{ :for => "post_title" }
      title
  %td
    = form.text_field :title, :class => 'field'
%tr#post_permalink_row
  %td
    %label{ :for => "post_permalink" }
      permalink
  %td
    = form.text_field :permalink, :class => 'field'
%tr#post_tag_list_row
  %td
    %label{ :for => "post_tag_list" }
      tags
  %td
    = form.text_field :tag_list, :class => 'field'
    %span.meta
      comma seperated
%tr
  %td
    %label{ :for => "post_content" }
      content
  %td
    = form.text_area :content, { :rows => 30, :cols => 60, :class => "field" }
%tr
  %td
    %label{ :for => "post_created_at", :style => "padding-top: 0;" }
      created at
  %td
    = form.datetime_select(:created_at)