= render :partial => "helpers/blog_top", :locals => { :link => root_url }

= render :partial => "helpers/title", :locals => { :title => "tag", :link => root_url }

%p#criteria
  Current tag:
  %span
    = @tag.name.downcase

- previous_year = ""
- @posts.each do |post|
  - if previous_year != post.created_at.year
    %p.year_separator
      =h post.created_at.year
  = render :partial => "posts/post", :locals => { :post => post, :container => false, :hightlight_query => "" }
  - previous_year = post.created_at.year

= render :partial => "helpers/blog_bottom", :locals => { :link => root_url }