= title_tag "services", root_url

= render :partial => "service", :locals => { :name => "Twitter",    :icon_text => "t",      :link => "http://www.twitter.com/fousa",               :text => "Check out my tweets!" }
= render :partial => "service", :locals => { :name => "Dailybooth", :icon_text => "D",      :link => "http://www.dailybooth.com/fousa",            :text => "Here you can find some stupid pictures I took using the awesome Dailybooth service!" }
= render :partial => "service", :locals => { :name => "Dopplr",     :icon_text => "&nbsp;", :link => "http://www.dopplr.com/traveller/fousa",      :text => "My traveling history!" }
= render :partial => "service", :locals => { :name => "Flickr",     :icon_text => "&nbsp;", :link => "http://www.flickr.com/jellevandebeeck",      :text => "My pictures that I would like to share with you!" }
= render :partial => "service", :locals => { :name => "Vimeo",      :icon_text => "v",      :link => "http://www.vimeo.com/fousa",                 :text => "My movie library that I would like to share with you!" }
= render :partial => "service", :locals => { :name => "Readernaut", :icon_text => "R",      :link => "http://readernaut.com/fousa",                :text => "My books that I'm currently reading!" }
= render :partial => "service", :locals => { :name => "Delicious",  :icon_text => "&nbsp;", :link => "http://www.delicious.com/fousa",             :text => "My interesting shortcuts!" }
= render :partial => "service", :locals => { :name => "LinkedIn",  :icon_text => "in",     :link => "http://www.linkedin.com/in/jellevandebeeck", :text => "Check out my professional data!" }
= render :partial => "service", :locals => { :name => "Facebook",   :icon_text => "f",      :link => "http://www.facebook.com/fousa",              :text => "Just to keep up with my good old friends!" }

= top_bottom_tag