%div.date
  %abbr{ :title => last_updated_sql(post.created_at) }
    %span.day= post.created_at.day
    %span.month= format_month(post.created_at)

%div.blog
  %h2
    = link_to post.title, permalink_path(post.permalink)
    %span= format_comment_text(post)
  %p.small
    = highlight format_overview_content(post.content), hightlight_query