= render :partial => "helpers/archive_top", :locals => { :link => archives_url }

= render :partial => "helpers/title", :locals => { :title => "blog", :link => nil }

- previous_year = 0
- @posts.each do |post|
  - if previous_year != post.created_at.year && previous_year != 0
    %p.year_separator
      = post.created_at.year

  - if post.note?
    = render :partial => "scratches/scratch", :locals => { :post => post, :hightlight_query => "" }
  - else
    = render :partial => "post", :locals => { :post => post, :container => false, :hightlight_query => "" }

  - previous_year = post.created_at.year

= render :partial => "helpers/archive_bottom", :locals => { :link => archives_url }