= render :partial => "helpers/blog_top", :locals => { :link => root_url }

= render :partial => "helpers/title", :locals => { :title => "blog", :link => root_url }

%div.date
  %abbr{ :title => last_updated_sql(@post.created_at) }
    %span.day
      =h @post.created_at.day
    %span.month
      =h format_month @post.created_at

%div.blog
  %h2
    =h @post.title

  = render :partial => "helpers/tag_list", :locals => { :post => @post }

  %div.permalink_content
    = raw @post.content

  %div#commentinput
    %p
      Send me some feedback!

    = render :partial => "comments/form", :object => @post

- @post.comments.sorted.each do |comment|
  = render :partial => "comments/comment", :locals => { :comment => comment }

= render :partial => "helpers/blog_bottom", :locals => { :link => root_url }
