= blog_top_tag root_url

= title_tag "archive", root_url

= render :partial => "selector", :locals => { :archive => @archive, :current_month => @selected_month, :current_year => @selected_year }

- @posts.each do |post|
  - if post.note?
    = render :partial => "scratches/scratch", :locals => { :scratch => post, :hightlight_query => "" }
  - else
    = render :partial => "posts/post", :locals => { :post => post, :container => false, :hightlight_query => "" }

- if @posts.size == 0
  %div#error
    %p
      No post were written in
      = %w( JAN FEB MRT APR MAY JUN JUL AUG SEP OCT NOV DEC )[@selected_month.to_i-1]
      = @selected_year

= blog_bottom_tag root_url