= render :partial => "helpers/blog_top", :locals => { :link => root_url }

= render :partial => "helpers/title", :locals => { :title => "archive", :link => root_url }

= render :partial => "selector", :locals => { :archive => @archive, :current_month => @selected_month, :current_year => @selected_year }

- @posts.each do |post|
  - if post.note?
    = render :partial => "scratches/scratch", :locals => { :post => post, :hightlight_query => "" }
  - else
    = render :partial => "posts/post", :locals => { :post => post, :container => false, :hightlight_query => "" }

- if @posts.size == 0
  #error
    %p
      No post were written in
      = %w( JAN FEB MRT APR MAY JUN JUL AUG SEP OCT NOV DEC )[@selected_month.to_i-1]
      = @selected_year

= render :partial => "helpers/blog_bottom", :locals => { :link => root_url }