= render :partial => "helpers/title", :locals => { :title => "contact", :link => root_url }

%div.input
  %p#info_line
    You can contact me for through this form.

  - form_for @contact, :url => sites_path do |form|

    %table{ :cellspacing => "10px", :cellpadding => "0" }
      %tr
        %td
          %label{ :for => "name" }
            name
        %td
          = render :partial => "helpers/textfield", :locals => { :field => form.text_field(:name, :class => 'field must_fill'), :indicator => @contact.errors[:name].any? }
      %tr
        %td
          %label{ :for => "email" }
            email
        %td
          = render :partial => "helpers/textfield", :locals => { :field => form.text_field(:email, :class => 'field must_fill'), :indicator => @contact.errors[:email].any? }
      %tr
        %td
          %label{ :for => "website" }
            website
        %td
          = render :partial => "helpers/textfield", :locals => { :field => form.text_field(:website, :class => 'field'), :indicator => @contact.errors[:website].any? }
      %tr
        %td
          %label{ :for => "snow" }
            is snow hot or cold?
        %td
          = render :partial => "helpers/textfield", :locals => { :field => form.text_field(:snow, :class => 'field must_fill'), :indicator => @contact.errors[:snow].any? }
      %tr
        %td
          %label{ :for => "content" }
            your words
        %td
          = render :partial => "helpers/textfield", :locals => { :field => form.text_area(:content, { :rows => 10, :cols => 45, :class => "field must_fill" }), :indicator => @contact.errors[:content].any? }
      %tr
        %td
          &nbsp;
        %td
          = form.submit "Send", :class => "button"

= render :partial => "helpers/top_bottom"