= title_tag "contact", root_url

%div.input
  %p#info_line
    You can contact me for through this form.

  - form_for @contact, :url => sites_path do |form|

    %table{ :cellspacing => "10px", :cellpadding => "0" }
      %tr
        %td
          %label{ :for => "name" }
            name
        %td
          = errored_textfield form.text_field(:name, :class => 'field must_fill'), @contact.errors[:name].any?
      %tr
        %td
          %label{ :for => "email" }
            email
        %td
          = errored_textfield form.text_field(:email, :class => 'field'), @contact.errors[:email].any?
      %tr
        %td
          %label{ :for => "website" }
            website
        %td
          = errored_textfield form.text_field(:website, :class => 'field'), @contact.errors[:website].any?
      %tr
        %td
          %label{ :for => "snow" }
            is snow hot or cold?
        %td
          = errored_textfield form.text_field(:snow, :class => 'field'), @contact.errors[:snow].any?
      %tr
        %td
          %label{ :for => "content" }
            your words
        %td
          = errored_textfield form.text_area(:content, { :rows => 10, :cols => 45, :class => "field must_fill" }), @contact.errors[:content].any?
      %tr
        %td
          &nbsp;
        %td
          = form.submit "Send", :class => "button"

= top_bottom_tag