= render :partial => "helpers/title", :locals => { :title => "contact", :link => root_url }

%div.input
  %p#info_line
    You can contact me for through this form.

  - form_for @contact, :url => sites_path do |form|

    %table{ :cellspacing => "10px", :cellpadding => "0" }
      %tr
        %td
          %label{ :for => "name" }
            name
        %td
          = form.text_field :name, :class => 'field must_fill'
      %tr
        %td
          %label{ :for => "email" }
            email
        %td
          = form.text_field :email, :class => 'field must_fill'
      %tr
        %td
          %label{ :for => "website" }
            website
        %td
          = form.text_field :website, :class => 'field'
      %tr
        %td
          %label{ :for => "snow" }
            is snow hot or cold?
        %td
          = form.text_field :snow, :class => 'field must_fill'
      %tr
        %td
          %label{ :for => "content" }
            your words
        %td
          = form.text_area :content, { :rows => 10, :cols => 45, :class => "field must_fill" }
      %tr
        %td
          &nbsp;
        %td
          = form.submit "Send", :class => "button"

= render :partial => "helpers/top_bottom"