!!!

%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }

    %meta{ :name => "verify-v1",   :content => "+Qi2WzdDCgFhbU6F9P2SbDQaFus54H++eMNKyUwog8Q=" }
    %meta{ :name => "keywords",    :content => @keywords || "fousa, blog, jelle vandebeeck, heverlee" }
    %meta{ :name => "description", :content => "Personal weblog of Jelle Vandebeeck" }
    %meta{ :name => "DC.Title",    :content => @title || "fousa" }
    %meta{ :name => "DC.Creator",  :content => "Jelle Vandebeeck" }
    %meta{ :name => "DC.Language", :content => "en" }
    %meta{ :name => "DC.Format",   :content => "text/html" }
    %meta{ :name => "DC.Type",     :content => "text" }
    %meta{ :name => "DC.Rights",   :content => "http://www.fousa.be/licenses" }

    %title= "#{@title}#{@title.nil? ? "fousa" : " ~ fousa"}" || "fousa"

    %link{ :rel => "shortcut icon",    :href => "/favicon.ico" }
    %link{ :rel => "apple-touch-icon", :href => "/apple-touch-icon.png" }
    %link{ :rel => "search",           :href => "opensearch.xml",                     :title => "Fousa", :type => "application/opensearchdescription+xml" }
    %link{ :rel => "alternate",        :href => "http://feeds2.feedburner.com/fousa", :title => "RSS",   :type => "application/rss+xml" }

    = stylesheet_link_tag "master"

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "rails"
    = javascript_include_tag "application"

    = csrf_meta_tag

  %body
    %ul#menu
      %li#search_menu
        - form_tag searches_path, :method => "get" do
          %p
            = text_field_tag :search, '', :value => @query,  :size => 15
            = image_submit_tag "/images/search.png", :id => "do_search"

      = render :partial => "helpers/menu_item", :locals => { :selected_title => @selected, :checked_title => "blog", :checked_link => blog_path, :keep_linking => @keep_linking }
      = render :partial => "helpers/menu_item", :locals => { :selected_title => @selected, :checked_title => "scratches", :checked_link => scratches_path, :keep_linking => @keep_linking }
      = render :partial => "helpers/menu_item", :locals => { :selected_title => @selected, :checked_title => "cloud", :checked_link => cloud_path, :keep_linking => @keep_linking }
      = render :partial => "helpers/menu_item", :locals => { :selected_title => @selected, :checked_title => "services", :checked_link => services_path, :keep_linking => @keep_linking }
      = render :partial => "helpers/menu_item", :locals => { :selected_title => @selected, :checked_title => "contact", :checked_link => contact_path, :keep_linking => @keep_linking }
      = render :partial => "helpers/menu_item", :locals => { :selected_title => @selected, :checked_title => "about", :checked_link => about_path, :keep_linking => @keep_linking }

    = render :partial => "helpers/admin_links", :locals => { :show => admin?, :type => @admin_section || "no", :post => @admin_post || "" }

    #content
      #inner-content
        = render :partial => "helpers/messages"

        = yield

    %p#footer
      %span.left_span
        =raw "created and designed by <a href=\"#{about_url}\"><span class=\"vcard\"><span class=\"fn\">Jelle Vandebeeck</span></span></a> and last edited about <abbr title=\"#{last_updated_sql(@last_updated_at)}\">#{last_updated(@last_updated_at)} ago</span></span><a href=\"http://feeds2.feedburner.com/fousa\" class=\"rss\">&nbsp;</a><a href=\"http://creativecommons.org/licenses/by/2.0/be/\" rel=\"nofollow\" class=\"cc\">&nbsp;</a></p>"

    - if Rails.env == "production" && !admin? && !@hide_google
      %script{ :type => "text/javascript" }
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{ :type => "text/javascript" }
        try {
        var pageTracker = _gat._getTracker("UA-2750996-1");
        pageTracker._trackPageview();
        } catch(err) {}</script>